html { font-size: 75%; }

hr {
  margin: .6em 0;
  padding: 0; }

p {
  margin: .3em 0;
  padding: 0;
  font-size: 1em;
  color: #333333; }

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%; 
}

img { max-width: 100%; }
a img { border: none; }
img { border: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

button {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th { padding: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
    background: #060e17;
}

select {
    font-family: visitor !important;
    float: right;
}

img {
	position: relative;
	display: block;
	float: left;
}

#wrapper {
	box-shadow: 10px 10px 15px #000000; 
    background-color: #2c3e50;
    width: 80%; 
    height: 100%; 
    padding: 8px;
    margin: 0 auto 0 auto;
    border-left: 4px solid white; 
    border-right: 4px solid white;
    visibility: hidden;
}

*:focus { outline: none; }


.fixedSizedTab { 
    height: 420px;
    overflow:auto;
    background-color: #ecf0f1 !important;
}

.fixedSizedTab table {
    height: 100%;
}

#tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

.tabInd {
    display: block;
    height: 100%;
    clear: both;
    margin: auto;
}

#imgArg {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: #ecf0f1 !important;
}

#argTal {
    display: block;
    margin: 0px 0px 0px 8px;
    float: left;
}

#r1, #r2 {
    font-size: 0.95em; 
    text-align: center;
}

#tab-3 img, #tab-4 img, #tab-5 img {
    display: block;
    border: 2px solid black;
    background-color: #ecf0f1 !important;
}

#tab-1 td {
    font-family: visitor;
    font-size: 1.5em;
}

#tab-1 td:nth-child(odd) {
    width: 30%;
}

#tab-1 td:nth-child(even) {
    width: 10%;
    margin: 16px;
}

#tabs a {
    font-family: visitor;
    font-size: 1.25em;
}

#tabs .ui-tabs-nav li { 
    margin-top: 0.6em; 
    font-size: 80%; 
    background-color: #E77E24 !important;
    color: #ecf0f1 !important;
}

#tabs .ui-tabs-nav li.ui-tabs-selected, 
#tabs .ui-tabs-nav li.ui-state-active { 
    margin-top: 0em; 
    font-size: 100%; 
    background-color: #ecf0f1 !important;
    color: #E77E24 !important;
}

.isle {
	display: block;
    margin:  0px auto 0px auto;
	padding-bottom: 16px;
	font-family: amazon;
	font-weight: bold;
	font-size: 1.25em;
	overflow: hidden;
    position: relative;
}

.isle div {
	float: left;
    margin: 0 2em 0 2em;
}

#location { width: 100%; height: 100%; border: 4px solid black; }
#content { float: left; width: 80%; height: 85%; padding: 8px; }

#sprite {
	position: absolute; left: 50%; top: 20%; z-index: 5; transform: scale(0.99);
}

.sprite { height: 428px; /*  */}

#sprite-bar {
    width: 218px;
    background: url('/images/sprites.png') 0px 0px no-repeat;
}

#sprite-bedroom {
    width: 338px;
    background: url('/images/sprites.png') -218px 0px no-repeat;
}

#sprite-convention {
    width: 220px;
    background: url('/images/sprites.png') -556px 0px no-repeat;
}

#sprite2-bar, #sprite2-bedroom {
    width: 272px;
    background: url('/images/sprites.png') 0px -428px no-repeat;
}

#sprite2-convention {
    width: 272px;
    background: url('/images/sprites.png') -272px -428px no-repeat;
}

#sprite3-bar, #sprite3-bedroom {
    width: 202px;
    background: url('/images/sprites.png') -544px -428px no-repeat;
}

#sprite3-convention {
    width: 252px;
    background: url('/images/sprites.png') -746px -428px no-repeat;
}

#sprite4-bar, #sprite4-bedroom {
    width: 200px;
    background: url('/images/sprites.png') -998px -428px no-repeat;
}

#sprite4-convention {
    width: 200px;
    background: url('/images/sprites.png') -1198px -428px no-repeat;
}

#sprite5-bar, #sprite5-bedroom {
    width: 240px;
    background: url('/images/sprites.png') -1398px -428px no-repeat;
}

#sprite5-convention {
    width: 240px;
    background: url('/images/sprites.png') -1638px -428px no-repeat;
}

#sprite6-bar, #sprite6-bedroom {
    width: 240px;
    background: url('/images/sprites.png') -1281px 0px no-repeat;
}

#sprite6-convention {
    width: 240px;
    background: url('/images/sprites.png') -1521px 0px no-repeat;
}

#sprite7-bar, #sprite7-bedroom, #sprite7-convention {
    width: 273px;
    background: url('/images/sprites.png') -1761px 0px no-repeat;
}

#sprite8-bar, #sprite8-bedroom, #sprite8-convention {
    width: 150px;
    background: url('/images/sprites.png') -1496px -428px no-repeat;
}

#sprite9-bar {
    width: 218px;
    background: url('/images/sprites.png') -2034px 0px no-repeat;
}

#sprite9-bedroom {
    width: 338px;
    background: url('/images/sprites.png') -2252px 0px no-repeat;
}

#sprite9-convention {
    width: 220px;
    background: url('/images/sprites.png') -2590px 0px no-repeat;
}

#sprite10-bar {
    width: 218px;
    background: url('/images/sprites.png') -2810px 0px no-repeat;
}

#sprite10-bedroom {
    width: 338px;
    background: url('/images/sprites.png') -3028px 0px no-repeat;
}

#sprite10-convention {
    width: 220px;
    background: url('/images/sprites.png') -3366px 0px no-repeat;
}

#sprite11-bar {
    width: 218px;
    background: url('/images/sprites.png') -2028px -428px no-repeat;
}

#sprite11-bedroom {
    width: 338px;
    background: url('/images/sprites.png') -2246px -428px no-repeat;
}

#sprite11-convention {
    width: 220px;
    background: url('/images/sprites.png') -2584px -428px no-repeat;
}

#sprite12-bar, #sprite12-bedroom, #sprite12-convention {
    width: 370px;
    background: url('/images/sprites.png') -911px 0px no-repeat;
}

#sprite13-bar {
    width: 218px;
    background: url('/images/sprites.png') -2804px -428px no-repeat;
}

#sprite13-bedroom {
    width: 338px;
    background: url('/images/sprites.png') -3022px -428px no-repeat;
}

#sprite13-convention {
    width: 220px;
    background: url('/images/sprites.png') -3360px -428px no-repeat;
}

#sprite14-bar {
    width: 218px;
    background: url('/images/sprites.png') -3586px 0px no-repeat;
}

#sprite14-bedroom {
    width: 338px;
    background: url('/images/sprites.png') -3580px -428px no-repeat;
}

#sprite14-convention {
    width: 220px;
    background: url('/images/sprites.png') -3804px 0px no-repeat;
}

#sprite15-bar, #sprite15-bedroom, #sprite15-convention {
    width: 135px;
    background: url('/images/sprites.png') -1496px 0px no-repeat;
}

#sprite16-bar, #sprite16-bedroom, #sprite16-convention {
    width: 178px;
    background: url('/images/sprites.png') -3918px -428px no-repeat;
}

#hud {
	font-family: visitor;
	font-size: 2.25em;
    background-color: #2c3e50;
    float: left;
    width: 20%;
    height: 85%;
    padding: 8px;
    color: white !important;
}

#hud  > div:first-of-type {
	text-decoration: underline;
}

#footer {
	clear: left;
    display: block; 
    width: 80%; 
    float: right;
}

#footer button {
    display: inline-block;
    border: none;
    margin: auto 4px auto 4px;
	padding: 4px;
}

#rndmEvnt {
	background-color: #262626;
}

#webHeader {
    padding: 8px; 
    height: 46px; 
    width: 100%;
}

.dWrapper {
    background-color: white !important; 
    padding: 8px;
}

#quest { background-color: #2c3e50; font-family: visitor; text-align: center;}
#questEvent, #questResponse { font-size: 1.75em; }
#choiceA, #choiceB { font-size: 1.5em; } 

.qWrapper {
    padding: 8px;
    background-color: #ecf0f1 !important;
}

#gymDialog { background-color: #2c3e50; font-family: visitor; text-align: center;}
#gymEvent, #gymResponse { font-size: 1.75em; }
#gymA, #gymB { font-size: 1.5em; }
#gym1, #gymBottom { display: inline-block; }

#tDialog { background-color: #2c3e50; }

#tDialog p {
    font-family: visitor !important;
    font-size: 2em;
    display: inline !important;
}

.tHdr { color: #ecf0f1; }

#tPages {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    position: absolute;
}

.tBackBtn, .tContBtn {
    display: inline !important;
    margin-top: 8px;
}

.tContBtn {
    float: right;
}

.tWrapper {
    padding: 8px;
    background-color: #ecf0f1 !important;
}

.tWrapper img {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: inline-block;
}

.gWrapper {
    padding: 8px;
    background-color: #ecf0f1 !important;
}

.gWrapper img {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: inline-block;
}
/*transform: scale(20);*/

#ansA, #ansB{
    font-size: 1.15em;
} 

/*--------------------------*/
/*      Credit Style        */
/*--------------------------*/
#cLogo {
    position: absolute;
    display: block;
    width: 35%; 
    height: 35%;
    top: 20%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#cDevLogo {
    position: absolute;
    display: block;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#creditScreen p {
   display: block;
   font-family: visitor; 
   font-size: 2em; 
   color: white;
   text-align: center;
}

#creditScreen div {
    position: absolute; 
    bottom: 0px; 
    display: block;
    margin: 0 50% 0 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
    width: 60%;
}

#creditScreen button {
    position: absolute;
    display: block;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#startScreen a {
   margin: 0px 0.2em 0px 0.2em;
}

#pn, #blockScreen p {
   font-family: visitor;
   font-size: 2em; 
   color: white;
   z-index: 5;
   top: 32px;
   right: 16px;
   width: auto;
}

#blockScreen p{
   text-align: center;
   display: block;
}

#rndmEvnt p{
	font-family: "calibri";
	color: #cfcfcf;
}

#dark{
	background-color: #161616;
}

#darker{
	padding: 8px; 
    font-size: 1.25em;
}

.vapProfile {
	width: 55%;
}

.vapShop {
    float: right !important;
}

.vapDesc {
    font-size: 0.75em;
}

.blue{
    color: #50A8C7 !important;
}

.saveGamePad {
    margin-top: 32px;
}

#green {
	background-color: #58780e;
    padding: 0.2em;
}

.highlight {
    background: #FFFBCC;
}

.splitter {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aab7b7;
    padding: 0;
    width : 90%;
    margin: 0px auto 0px auto;
}

#argBottom {
    font-size: 1.25em !important;
}

#argBottom button {
    margin: 8px auto 8px auto;
}

#argEvent { font-size: 1.25em; }
.argHdr { text-decoration: underline; text-align: center; }
.needs { margin: 0.75em 0 0.75em 0; }

/*--------------------------*/
/*          Dialogs         */
/*--------------------------*/
#gameEnd, #genericDialog, #overAll {
    background-color: #2c3e50;
}

#gameEnd button {
    display: inline-block;
    position: relative;
    margin-top: 8px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

#optionsTableHeader {
    font-size: 1.5em;
}

.optionsTable { font-family: visitor; font-size: 2em; color: black; width: 100%; }
.optionsTable td { padding: 4px 0px 4px 0px; }

.overallTitle {
    font-family: visitor; font-size: 2em; color: #ecf0f1; display: inline-block;
}

.mainDialog {
    margin:  auto;
}

.startScreen {
    background-color: #2c3e50;
}

.leaveDia {
    font-family: visitor;
    font-size: 2em;
    background-color: white;
    text-align: center;
}
.leaveDia button { margin: 8px auto 8px auto; }

.shopList{
    background-color: white;
    height: 480px;
    max-height: 480px;
}

.gameEvent { background-color: #262626; }
.travelDia { background-color: #FFFFFF; }

#startScreen div, #blockScreen div {
    position: absolute; 
    bottom: 0px; 
    display: block;
    margin: 0px 50% 0px 50%;
}

#exitQuest {
    margin: 8px;
    display: inline-block;
}

#exitGym, #continueGym {
    left: 50%;
    display: inline-block;
}

#startScreen button {
    margin: 8px;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#startScreen img {
    top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    display: block;
    position: absolute;
}

#blockScreen img {
    height: 60%;
    width: auto;
    top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    display: block;
    position: absolute;
}

#genericDialog div {
    background-color: #ecf0f1; padding: 8px; display: inline-block;
}

#gdText {
    font-family: visitor; font-size: 24px; color: black; float: left; width: 75%; text-align: justify;
}

#genericDialog button {
    float: right; margin: 8px 0 8px 0;
}

.travelDia{
    background-color: white;
}

.jukeboxDia{
    background-color: black;
}

.jukeboxDia p {
    color: white;
}

#GDTitle{
     font-family: visitor;
     font-size: 2em; 
     color: white;
}

/*--------------------------*/
/*          Fonts           */
/*--------------------------*/
@font-face {
	font-family: amazon;
	src: url(/fonts/itc-officina-sans-lt-book.ttf);
}
@font-face {
	font-family: visitor;
	src: url(/fonts/visitor2.ttf);
}

/*--------------------------*/
/*      Sprite Sheets       */
/*--------------------------*/
.continueGameBtn {
    display: block;
    left: 0px;
    border: none;
    height: 32px;
    width: 156px;
    background: url('/images/btns-spr.png') 0px 0px no-repeat;
}

.continueGameBtn:hover {
    background: url('/images/btns-spr.png') 0px -32px no-repeat;
}

.continueGameBtn:active {
    background: url('/images/btns-spr.png') 0px -64px no-repeat;
}

.newGameBtn {
    display: block;
    left: 0px;
    border: none;
    height: 32px;
    width: 168px;
    background: url('/images/btns-spr.png') -156px 0px no-repeat;
}

.newGameBtn:hover {
    background: url('/images/btns-spr.png') -156px -32px no-repeat;
}

.newGameBtn:active {
    background: url('/images/btns-spr.png') -156px -64px no-repeat;
}

.creditsBtn {
    display: block;
    left: 0px;
    border: none;
    height: 32px;
    width: 135px;
    background: url('/images/btns-spr.png') -324px 0px no-repeat;
}

.creditsBtn:hover {
    background: url('/images/btns-spr.png') -324px -32px no-repeat;
}

.creditsBtn:active {
    background: url('/images/btns-spr.png') -324px -64px no-repeat;
}

.backGameBtn {
    display: block;
    left: 0px;
    border: none;
    height: 32px;
    width: 90px;
    background: url('/images/btns-spr.png') -384px -96px no-repeat;
}

.backGameBtn:hover {
    background: url('/images/btns-spr.png') -384px -128px no-repeat;
}

.backGameBtn:active {
    background: url('/images/btns-spr.png') -384px -160px no-repeat;
}

.proceedGameBtn {
    display: block;
    left: 0px;
    border: none;
    height: 27px;
    width: 145px;
    background: url('/images/btns-spr.png') 0px -864px no-repeat;
}

.proceedGameBtn:hover {
    background: url('/images/btns-spr.png') 0px -891px no-repeat;
}

.proceedGameBtn:active {
    background: url('/images/btns-spr.png') 0px -918px no-repeat;
}

.exitGameBtn {
    display: block;
    left: 0px;
    border: none;
    height: 27px;
    width: 77px;
    background: url('/images/btns-spr.png') -145px -864px no-repeat;
}

.exitGameBtn:hover {
    background: url('/images/btns-spr.png') -145px -891px no-repeat;
}

.exitGameBtn:active {
    background: url('/images/btns-spr.png') -145px -918px no-repeat;
}

.cancelGameBtn {
    display: block;
    left: 0px;
    border: none;
    height: 27px;
    width: 118px;
    background: url('/images/btns-spr.png') -222px -864px no-repeat;
}

.cancelGameBtn:hover {
    background: url('/images/btns-spr.png') -222px -891px no-repeat;
}

.cancelGameBtn:active {
    background: url('/images/btns-spr.png') -222px -918px no-repeat;
}

.exitEvnt {
    display: block;
    margin: 8px auto 8px auto;
    left: 0px;
    border: none;
    height: 20px;
    width: 80px;
    background: url('/images/btns-spr.png') -475px 0px no-repeat;
}

.exitEvnt:hover {
    background: url('/images/btns-spr.png') -475px -20px no-repeat;
}

.exitEvnt:active {
    background: url('/images/btns-spr.png') -475px -40px no-repeat;
}

.exitShop {
    float: right;
    border: none;
    height: 16px;
    width: 16px;
    background: url('/images/btns-spr.png') -459px 0px no-repeat;
}

.exitShop:hover {
    background: url('/images/btns-spr.png') -459px -16px no-repeat;
}

.exitShop:active {
    background: url('/images/btns-spr.png') -459px -32px no-repeat;
}

#fbButton {
    float: right;
    height: 32px;
    width: 32px;
    background: url('/images/btns-spr.png') -384px -192px no-repeat;
}

#fbButton:hover {
    background: url('/images/btns-spr.png') -384px -224px no-repeat;
}

#fbButton:active {
    background: url('/images/btns-spr.png') -384px -256px no-repeat;
}

#twButton {
    float: right;
    height: 32px;
    width: 32px;
    background: url('/images/btns-spr.png') -416px -192px no-repeat;
}

#twButton:hover {
    background: url('/images/btns-spr.png') -416px -224px no-repeat;
}

#twButton:active {
    background: url('/images/btns-spr.png') -416px -256px no-repeat;
}

#gpButton {
    float: right;
    height: 32px;
    width: 32px;
    background: url('/images/btns-spr.png') -448px -192px no-repeat;
}

#gpButton:hover {
    background: url('/images/btns-spr.png') -448px -224px no-repeat;
}

#gpButton:active {
    background: url('/images/btns-spr.png') -448px -256px no-repeat;
}

#toggleHint {
    height: 14px;
    width: 49px;
    float: right;
    border: none;
}
.hintOff { background: url('/images/btns-spr.png') -939px -384px no-repeat; }
.hintOn { background: url('/images/btns-spr.png') -939px -398px no-repeat; }

#toggleApartment {
    height: 14px;
    width: 14px;
    float: right;
    border: none;
}
.aptOff { background: url('/images/btns-spr.png') -1003px -168px no-repeat; }
.aptOn { background: url('/images/btns-spr.png') -1003px -182px no-repeat; }

/*--------------------------*/
/*          Logos           */
/*--------------------------*/
#logoMzon {
    width: 138px;
    height: 67px;
    background: url('/images/spr-logo-itm.png') 0px 0px no-repeat;
}

#logoVapor {
    display: inline-block;
    margin: 0px auto 0px auto;
    position: relative;
    width: 102px;
    height: 44px;
    background: url('/images/spr-logo-itm.png') 0px -67px no-repeat;
}

#logoTuneTap {
    width: 122px;
    height: 34px;
    background: url('/images/spr-logo-itm.png') -226px -67px no-repeat;
}

.logoLoutube {
    width: 103px;
    height: 32px;
    background: url('/images/spr-logo-itm.png') -284px 0px no-repeat;
}

.logoMgn {
    width: 113px;
    height: 32px;
    background: url('/images/spr-logo-itm.png') -387px 0px no-repeat;
}

.logoMyface {
    width: 32px;
    height: 32px;
    background: url('/images/spr-logo-itm.png') -500px 0px no-repeat;
}

.logoOknarc {
    width: 127px;
    height: 32px;
    background: url('/images/spr-logo-itm.png') -532px 0px no-repeat;
}

.logoCreddit {
    width: 154px;
    height: 32px;
    background: url('/images/spr-logo-itm.png') -659px 0px no-repeat;
}

.logoEventster {
    width: 124px;
    height: 44px;
    background: url('/images/spr-logo-itm.png') -102px -67px no-repeat;
}

/*--------------------------*/
/*      Shop Buttons        */
/*--------------------------*/
.isle button {
    border: none;
    height: 128px;
    width: 128px;
}
#item1 {
    background: url('/images/spr-logo-itm.png') -384px -623px no-repeat;
}
#item1:hover {
    background: url('/images/spr-logo-itm.png') -512px -623px no-repeat;
}
#item1:active {
    background: url('/images/spr-logo-itm.png') -640px -623px no-repeat;
}
#item2 {
    background: url('/images/spr-logo-itm.png') 0px -623px no-repeat;
}
#item2:hover {
    background: url('/images/spr-logo-itm.png') -128px -623px no-repeat;
}
#item2:active {
    background: url('/images/spr-logo-itm.png') -256px -623px no-repeat;
}
#item3 {
    background: url('/images/spr-logo-itm.png') -384px -751px no-repeat;
}
#item3:hover {
    background: url('/images/spr-logo-itm.png') -512px -751px no-repeat;
}
#item3:active {
    background: url('/images/spr-logo-itm.png') -640px -751px no-repeat;
}
#item4 {
    background: url('/images/spr-logo-itm.png') -384px -111px no-repeat;
}
#item4:hover {
    background: url('/images/spr-logo-itm.png') -512px -111px no-repeat;
}
#item4:active {
    background: url('/images/spr-logo-itm.png') -640px -111px no-repeat;
}
#item5 {
    background: url('/images/spr-logo-itm.png') -768px -111px no-repeat;
}
#item5:hover {
    background: url('/images/spr-logo-itm.png') -768px -239px no-repeat;
}
#item5:active {
    background: url('/images/spr-logo-itm.png') -768px -367px no-repeat;
}
#item6 {
    background: url('/images/spr-logo-itm.png') 0px -751px no-repeat;
}
#item6:hover {
    background: url('/images/spr-logo-itm.png') -128px -751px no-repeat;
}
#item6:active {
    background: url('/images/spr-logo-itm.png') -256px -751px no-repeat;
}
#item7 {
    background: url('/images/spr-logo-itm.png') 0px -367px no-repeat;
}
#item7:hover {
    background: url('/images/spr-logo-itm.png') -128px -367px no-repeat;
}
#item7:active {
    background: url('/images/spr-logo-itm.png') -256px -367px no-repeat;
}
#item8 {
    background: url('/images/spr-logo-itm.png') 0px -879px no-repeat;
}
#item8:hover {
    background: url('/images/spr-logo-itm.png') -128px -879px no-repeat;
}
#item8:active {
    background: url('/images/spr-logo-itm.png') -256px -879px no-repeat;
}
#item9 {
    background: url('/images/spr-logo-itm.png') 0px -111px no-repeat;
}
#item9:hover {
    background: url('/images/spr-logo-itm.png') -128px -111px no-repeat;
}
#item9:active {
    background: url('/images/spr-logo-itm.png') -256px -111px no-repeat;
}
#item10 {
    background: url('/images/spr-logo-itm.png') 0px -239px no-repeat;
}
#item10:hover {
    background: url('/images/spr-logo-itm.png') -128px -239px no-repeat;
}
#item10:active {
    background: url('/images/spr-logo-itm.png') -256px -239px no-repeat;
}
#item11 {
    background: url('/images/spr-logo-itm.png') -384px -239px no-repeat;
}
#item11:hover {
    background: url('/images/spr-logo-itm.png') -512px -239px no-repeat;
}
#item11:active {
    background: url('/images/spr-logo-itm.png') -640px -239px no-repeat;
}
#item12 {
    background: url('/images/spr-logo-itm.png') 0px -495px no-repeat;
}
#item12:hover {
    background: url('/images/spr-logo-itm.png') -128px -495px no-repeat;
}
#item12:active {
    background: url('/images/spr-logo-itm.png') -256px -495px no-repeat;
}
#item13 {
    background: url('/images/spr-logo-itm.png') -384px -367px no-repeat;
}
#item13:hover {
    background: url('/images/spr-logo-itm.png') -512px -367px no-repeat;
}
#item13:active {
    background: url('/images/spr-logo-itm.png') -640px -367px no-repeat;
}
#item13:disabled {
    background: url('/images/btns-spr.png') -388px -644px no-repeat;
}
#item14 {
    background: url('/images/spr-logo-itm.png') -384px -879px no-repeat;
}
#item14:hover {
    background: url('/images/spr-logo-itm.png') -512px -879px no-repeat;
}
#item14:active {
    background: url('/images/spr-logo-itm.png') -640px -879px no-repeat;
}
#item14:disabled {
    background: url('/images/btns-spr.png') -388px -516px no-repeat;
}
#item15 {
    background: url('/images/spr-logo-itm.png') -384px -495px no-repeat;
}
#item15:hover {
    background: url('/images/spr-logo-itm.png') -512px -495px no-repeat;
}
#item15:active {
    background: url('/images/spr-logo-itm.png') -640px -495px no-repeat;
}
#item15:disabled {
    background: url('/images/btns-spr.png') -388px -772px no-repeat;
}
#item16 {
    background: url('/images/btns-spr.png') 0px -224px no-repeat;
}
#item16:hover {
    background: url('/images/btns-spr.png') -128px -224px no-repeat;
}
#item16:active {
    background: url('/images/btns-spr.png') -256px -224px no-repeat;
}
#item17 {
    background: url('/images/btns-spr.png') 0px -96px no-repeat;
}
#item17:hover {
    background: url('/images/btns-spr.png') -128px -96px no-repeat;
}
#item17:active {
    background: url('/images/btns-spr.png') -256px -96px no-repeat;
}
#item18 {
    background: url('/images/btns-spr.png') 0px -352px no-repeat;
}
#item18:hover {
    background: url('/images/btns-spr.png') -128px -352px no-repeat;
}
#item18:active {
    background: url('/images/btns-spr.png') -256px -352px no-repeat;
}

#gym {
    background: url('/images/spr-logo-itm.png') -768px -495px no-repeat;
}
#gym:hover {
    background: url('/images/spr-logo-itm.png') -768px -623px no-repeat;
}
#gym:active {
    background: url('/images/spr-logo-itm.png') -768px -751px no-repeat;
}
#bar {
    background: url('/images/spr-logo-itm.png') -896px -111px no-repeat;
}
#bar:hover {
    background: url('/images/spr-logo-itm.png') -896px -239px no-repeat;
}
#bar:active {
    background: url('/images/spr-logo-itm.png') -896px -367px no-repeat;
}
#convention {
    background: url('/images/spr-logo-itm.png') -896px -495px no-repeat;
}
#convention:hover {
    background: url('/images/spr-logo-itm.png') -896px -623px no-repeat;
}
#convention:active {
    background: url('/images/spr-logo-itm.png') -896px -751px no-repeat;
}
/*--------------------------*/
/*      Main Buttons        */
/*--------------------------*/
#shop {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px 0px no-repeat;
}

#shop:hover {
    background: url('/images/btns-spr.png') -619px 0px no-repeat;
}

#shop:active {
    background: url('/images/btns-spr.png') -683px 0px no-repeat;
}

#flame {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px 0px no-repeat;
}

#flame:hover {
    background: url('/images/btns-spr.png') -811px 0px no-repeat;
}

#flame:active {
    background: url('/images/btns-spr.png') -875px 0px no-repeat;
}

#exit {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px -64px no-repeat;
}

#exit:hover {
    background: url('/images/btns-spr.png') -619px -64px no-repeat;
}

#exit:active {
    background: url('/images/btns-spr.png') -683px -64px no-repeat;
}

#game {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px -64px no-repeat;
}

#game:hover {
    background: url('/images/btns-spr.png') -811px -64px no-repeat;
}

#game:active {
    background: url('/images/btns-spr.png') -875px -64px no-repeat;
}

#sleep {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px -128px no-repeat;
}

#sleep:hover {
    background: url('/images/btns-spr.png') -619px -128px no-repeat;
}

#sleep:active {
    background: url('/images/btns-spr.png') -683px -128px no-repeat;
}

#save {
    height:  64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px -128px no-repeat;
}

#save:hover {
    background: url('/images/btns-spr.png') -811px -128px no-repeat;
}

#save:active {
    background: url('/images/btns-spr.png') -875px -128px no-repeat;
}

#work {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px -192px no-repeat;
}

#work:hover {
    background: url('/images/btns-spr.png') -619px -192px no-repeat;
}

#work:active {
    background: url('/images/btns-spr.png') -683px -192px no-repeat;
}

#stats {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px -192px no-repeat;
}

#stats:hover {
    background: url('/images/btns-spr.png') -811px -192px no-repeat;
}

#stats:active {
    background: url('/images/btns-spr.png') -875px -192px no-repeat;
}

#travel {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -939px 0px no-repeat;
}

#travel:hover {
    background: url('/images/btns-spr.png') -939px -64px no-repeat;
}

#travel:active {
    background: url('/images/btns-spr.png') -939px -128px no-repeat;
}

#pool {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px -256px no-repeat;
}

#pool:hover {
    background: url('/images/btns-spr.png') -619px -256px no-repeat;
}

#pool:active {
    background: url('/images/btns-spr.png') -683px -256px no-repeat;
}

#speak {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px -256px no-repeat;
}

#speak:hover {
    background: url('/images/btns-spr.png') -811px -256px no-repeat;
}

#speak:active {
    background: url('/images/btns-spr.png') -875px -256px no-repeat;
}

#home {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px -320px no-repeat;
}

#home:hover {
    background: url('/images/btns-spr.png') -619px -320px no-repeat;
}

#home:active {
    background: url('/images/btns-spr.png') -683px -320px no-repeat;
}

#photo {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px -320px no-repeat;
}

#photo:hover {
    background: url('/images/btns-spr.png') -811px -320px no-repeat;
}

#photo:active {
    background: url('/images/btns-spr.png') -875px -320px no-repeat;
}

#food {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px -384px no-repeat;
}

#food:hover {
    background: url('/images/btns-spr.png') -619px -384px no-repeat;
}

#food:active {
    background: url('/images/btns-spr.png') -683px -384px no-repeat;
}

#event {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px -384px no-repeat;
}

#event:hover {
    background: url('/images/btns-spr.png') -811px -384px no-repeat;
}

#event:active {
    background: url('/images/btns-spr.png') -875px -384px no-repeat;
}

#booth {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -555px -448px no-repeat;
}

#booth:hover {
    background: url('/images/btns-spr.png') -619px -448px no-repeat;
}

#booth:active {
    background: url('/images/btns-spr.png') -683px -448px no-repeat;
}

#drink {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -747px -448px no-repeat;
}

#drink:hover {
    background: url('/images/btns-spr.png') -811px -448px no-repeat;
}

#drink:active {
    background: url('/images/btns-spr.png') -875px -448px no-repeat;
}

#options {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -939px -192px no-repeat;
}

#options:hover {
    background: url('/images/btns-spr.png') -939px -256px no-repeat;
}

#options:active {
    background: url('/images/btns-spr.png') -939px -320px no-repeat;
}

#jukebox {
    height: 64px;
    width: 64px;
    background: url('/images/btns-spr.png') -491px -320px no-repeat;
}

#jukebox:hover {
    background: url('/images/btns-spr.png') -491px -384px no-repeat;
}

#jukebox:active {
    background: url('/images/btns-spr.png') -491px -448px no-repeat;
}

.playGame {
    height: 24px;
    width: 69px;
    border: none;
    margin: 4px 0 4px 2em;
    background: url('/images/btns-spr.png') -486px -60px no-repeat;
}

.playGame:hover {
    background: url('/images/btns-spr.png') -486px -84px no-repeat;
}

.playGame:active {
    background: url('/images/btns-spr.png') -486px -108px no-repeat;
}

#addToCart {
    height: 32px;
    width: 106px;
    margin-left: 0.75em;
    background: url('/images/btns-spr.png') -384px -378px no-repeat;
}

#addToCart:hover {
    background: url('/images/btns-spr.png') -384px -410px no-repeat;
}

#addToCart:active {
    background: url('/images/btns-spr.png') -384px -442px no-repeat;
}

.vapClose {
    height: 10px;
    width: 10px;
    border: none;
    background: url('/images/btns-spr.png') -384px -474px no-repeat;
    float: right;
}

.vapClose:hover {
    background: url('/images/btns-spr.png') -384px -484px no-repeat;
}

.vapClose:active {
    background: url('/images/btns-spr.png') -384px -494px no-repeat;
}

.gameIsle {
	overflow: hidden;
    position: relative;
}

.gameIsle div {
	float: left;
    margin: 0 3em 0 3em;
}

#game1, #game2, #game3, #sellGame {
    border: none;
    height: 128px;
    width: 128px;
}

#music1 {
    background: url('/images/btns-spr.png') 0px -480px no-repeat;
}

#music2 {
    background: url('/images/btns-spr.png') -128px -480px no-repeat;
}

#music3 {
    background: url('/images/btns-spr.png') -256px -480px no-repeat;
}

#music4 {
    background: url('/images/btns-spr.png') 0px -608px no-repeat;
}

#music5 {
    background: url('/images/btns-spr.png') -128px -608px no-repeat;
}

#music6 {
    background: url('/images/btns-spr.png') -256px -608px no-repeat;
}

#game1 {
    background: url('/images/btns-spr.png') 0px -736px no-repeat;
}

#game2 {
    background: url('/images/btns-spr.png') -128px -736px no-repeat;
}

#game3 {
    background: url('/images/btns-spr.png') -256px -736px no-repeat;
}

#sellGame {
    background: url('/images/spr-logo-itm.png') -768px -879px no-repeat;
}

#hintWrapper {
    width: 100%;
}

#hintText {
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    width: auto;
    border-style: dashed;
    border-color: #cfcca6;
    background: #FFFBCC;
}

#hint {
    display: inline-block;
    left: 50%;
    border: none;
    height: 30px;
    width: 82px;
    background: url('/images/btns-spr.png') -384px -288px no-repeat;
    -webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
    margin-top: 0.5em;
    position: relative;
}
#hint:hover { background: url('/images/btns-spr.png') -384px -318px no-repeat; }
#hint:active { background: url('/images/btns-spr.png') -384px -348px no-repeat; }

/*--------------------------*/
/*   Stat Screen Images     */
/*--------------------------*/
.qTd {
    width: 100%;
}

.uStar {
    float: right; 
    margin-right: 2.5em;
    border: none;
    height: 14px;
    width: 14px;
    background: url('/images/btns-spr.png') -1003px 0px no-repeat;
}

.uStar:hover {
    background: url('/images/btns-spr.png') -1003px -14px no-repeat;
}

.uStar:active {
    background: url('/images/btns-spr.png') -1003px -28px no-repeat;
}

.lStar {
    float: right; 
    margin-right: 2.5em;
    border: none;
    height: 14px;
    width: 14px;
    background: url('/images/btns-spr.png') -1003px -42px no-repeat;
}

.lStar:hover {
    background: url('/images/btns-spr.png') -1003px -56px no-repeat;
}

.lStar:active {
    background: url('/images/btns-spr.png') -1003px -70px no-repeat;
}
.unmute {
    display: inline-block;
    float: right;
    left: 0px;
    border: none;
    height: 14px;
    width: 25px;
    background: url('/images/btns-spr.png') -1003px -84px no-repeat;
}

.unmute:hover {
    background: url('/images/btns-spr.png') -1003px -98px no-repeat;
}

.unmute:active {
    background: url('/images/btns-spr.png') -1003px -112px no-repeat;
}
.mute {
    display: inline-block;
    float: right;
    left: 0px;
    border: none;
    height: 14px;
    width: 25px;
    background: url('/images/btns-spr.png') -1003px -126px no-repeat;
}

.mute:hover {
    background: url('/images/btns-spr.png') -1003px -140px no-repeat;
}

.mute:active {
    background: url('/images/btns-spr.png') -1003px -154px no-repeat;
}

.hdrCreddit {
    background-color: #cee3f8;
}

.bkgCreddit {
    background-color: #e2dcdc;
}

.hdrLouTube {
    background-color: #FFFFFF;
}

.bkgLouTube {
    background-color: #F1F1F1;
}
    
.hdrMGN {
    background-color: #000000;
}

.bkgMGN {
    background-color: #f4f4f4;
}
    
.hdrMyFace {
    background-color: #46629e;
}

.bkgMyFace {
    background-color: #e2dcdc;
}
    
.hdrOkNarc {
    background-color: #000f2d;
}

.bkgOkNarc {
    background-color: #285598;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #2c3e50;
}

ul li a {
    background-color: #ecf0f1;
    text-align: center;
    width: 8em;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding:  0.1em !important;
}

#oaTable { width: 480px; }
#resetSaveFile {
     cursor: pointer; color: #E74C3C; text-align: center;
}

.progresswrap{
	padding-left:5px;
	background:transparent url(/images/misc/statBar.png) 0 0 no-repeat;
	height:17px;
}

.progresswrapswap{
	background-position:0 -17px;
}

.progressBar {
	width: 100%;
	height: 17px;
	background:transparent url(/images/misc/statBar.png) 0 0 no-repeat;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 17px; 
	width: 0;
	background:transparent url(/images/misc/statBar.png) right -17px no-repeat;
}

.sb {
    margin: 4px;
    height: 51px;
    width: 520px;
    background: url('/images/btns-spr.png') 0px -977px no-repeat;
}

.gdi {
    float: right;
    height: 128px;
    width: 128px;
}
.nee { background: url('/images/btns-spr.png') -516px -516px no-repeat; }
.gm { background: url('/images/btns-spr.png') -644px -516px no-repeat; }
.conov { background: url('/images/btns-spr.png') -772px -516px no-repeat; }
.phot { background: url('/images/btns-spr.png') -900px -516px no-repeat; }
.booth { background: url('/images/btns-spr.png') -516px -644px no-repeat; }
.event { background: url('/images/btns-spr.png') -644px -644px no-repeat; }
.gcomp { background: url('/images/btns-spr.png') -772px -644px no-repeat; }
.ko { background: url('/images/btns-spr.png') -900px -644px no-repeat; }
.speakb { background: url('/images/btns-spr.png') -516px -772px no-repeat; }
.speakg { background: url('/images/btns-spr.png') -644px -772px no-repeat; }
.pl { background: url('/images/btns-spr.png') -772px -772px no-repeat; }
.lm { background: url('/images/btns-spr.png') -900px -772px no-repeat; }
.prom { background: url('/images/btns-spr.png') -900px -900px no-repeat; }
.re { background: url('/images/btns-spr.png') -772px -900px no-repeat; }

.tt-top { position: relative;  display: inline; }
.tt-top span { position: absolute;  width: 140px;  color: #FFFFFF;  background: #000000;  height: 30px;  line-height: 30px;  text-align: center;  visibility: hidden;  border-radius: 0px; }
.tt-top span:after { content: ''; position: absolute; top: 100%; left: 50%; margin-left: -8px; width: 0; height: 0; border-top: 8px solid #000000; border-right: 8px solid transparent; border-left: 8px solid transparent; }
a:hover.tt-top span { visibility: visible; opacity: 0.8; bottom: 30px; left: 50%; margin-left: -76px; z-index: 999; }
.tt-bottom { position: relative; display: inline; } 
.tt-bottom span { position: absolute; width: 140px; color: #FFFFFF; background: #000000; height: 30px; line-height: 30px; text-align: center; visibility: hidden; border-radius: 0px; }
.tt-bottom span:after { content: ''; position: absolute; bottom: 100%; left: 50%; margin-left: -8px; width: 0; height: 0; border-bottom: 8px solid #000000; border-right: 8px solid transparent; border-left: 8px solid transparent; }
a:hover.tt-bottom span { visibility: visible; opacity: 0.8; top: 30px; left: 50%; margin-left: -76px; z-index: 999; } 
.tt-left { position: relative; display: inline; }
.tt-left span { position: absolute; width: 140px; color: #FFFFFF; background: #000000; height: 30px; line-height: 30px; text-align: center; visibility: hidden; border-radius: 0px; }
.tt-left span:after { content: ''; position: absolute; top: 50%; left: 100%; margin-top: -8px; width: 0; height: 0; border-left: 8px solid #000000; border-top: 8px solid transparent; border-bottom: 8px solid transparent; }
a:hover.tt-left span { visibility: visible; opacity: 0.8; right: 100%; top: 50%; margin-top: -15px; margin-right: 15px; z-index: 999; }
.tt-right { position: relative;  display: inline; }
.tt-right span { position: absolute; width: 140px; color: #FFFFFF; background: #000000; height: 30px; line-height: 30px; text-align: center; visibility: hidden; border-radius: 0px; }
.tt-right span:after { content: ''; position: absolute; top: 50%; right: 100%; margin-top: -8px; width: 0; height: 0;  border-right: 8px solid #000000;  border-top: 8px solid transparent;  border-bottom: 8px solid transparent; }
a:hover.tt-right span { visibility: visible; opacity: 0.8; left: 100%; top: 50%; margin-top: -15px; margin-left: 15px; z-index: 999; }