html {
  font-size: 75%;
}

body {
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  font-size: 1em;
  color: black; 
  }

h1, h2, h3, h4, h5, h6, hr {
  margin: .6em 0;
  padding: 0; }

p {
  margin: .3em 0;
  padding: 0;
  font-size: 1em;
  color: #333333; }

button, input, select, textarea {
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  font-size: 1em; }

h1 {
  font-size: 1.750em;
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  color: #B00000; }

h2 {
  font-size: 1.500em;
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  color: #333333; }

h3 {
  font-size: 1.333em;
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  color: #333333; }

h4 {
  font-size: 1.167em;
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  color: #333333; }

h5 {
  font-size: 1.000em;
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  color: #333333; }

h6 {
  font-size: 0.917em;
  font-family: Arial, Helvetica, "Myriad Pro", san-serif;
  margin: 0px;
  padding: 0 0 10px;
  color: #333333; }

body {
  /* body style gradient for pcapp */
  background-color: #f9f9f9;
  /* body default */
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%; 
  }

button {
  background-color: #eceaf1;
  /*#AF0000;*/
  color: #37314f;
  /*#fff;*/
  border: 1px outset #a9a8ab;
  /*#CF0000;*/
  /* height: 25px;*/ }

button:active {
  border: 2px inset #a9a8ab;
  /*#CF0000;*/ }

img {
  max-width: 100%; }

a img {
  border: none; }

img {
  border: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }
/* Form Resets */
button, input, optgroup, select, textarea {
  /*color: inherit;*/
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/* Table Resets */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

table {
  margin: inherit;
  padding: inherit;
  border: inherit;
  font-size: inherit;
  color: inherit;
  vertical-align: inherit; }

table td {
  margin: inherit;
  padding: inherit;
  border: inherit;
  font-size: inherit;
  color: inherit;
  vertical-align: inherit; }

select, input, textarea {
  margin-left: 0;
  border: 0;
  vertical-align: baseline;
  max-width: 100%; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }